.aside {
  .aside__inner {
    @include screen-mmd {
      position: sticky;
      bottom: 0px;
      width: 100%;
    }
  }
  // .aside__inner
  &__inner {
    display: flex;
    background: #ffffff;
    box-shadow: 4px 4px 11px rgba(37, 73, 137, 0.02);
    @include screen-mlg {
      border-radius: $border-radius;
    }

    > img {
      width: 300px;
      height: auto;
    }

    @include screen-md {
      display: block;
    }
  }
  .aside__list,
  .aside__sub-list {
    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
      width: 4px;
      background-clip: content-box;
      border-radius: 300px;
      border: 4px solid transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $lightGrey-color;
    }
    &::-webkit-scrollbar-track {
      background-color: $bg-color;
    }
  }
  // .aside__list
  &__list {
    padding: 0px 12px;
    width: 100%;
  }

  // .aside__item
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 10px 0;
    transition: color 0.2s ease 0s;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(225, 231, 239, 0.35);
    }

    &:not(.active) + .aside__sub-list {
      border-top: 1px solid transparent;
    }

    &--title {
      justify-content: center;
      color: $grey-color;
      font-size: 18px;
      cursor: auto;
      @include screen-md {
        height: 58px;
      }
      @include screen-esm {
        height: 48px;
      }
    }
    @media (any-hover: hover) {
      &:hover {
        .aside__link {
          color: $orange-color;
          &::before {
            color: $orange-color;
          }
        }
      }
    }
    &:active {
      .aside__link {
        color: $orange-color;
        &::before {
          color: $orange-color;
        }
      }
    }

    &:not(.switch, .aside__item--title) {
      padding: 0;
    }
    &--link {
      padding: 0;

      .aside__link {
        padding: 12px 0;
      }
    }

    &.active {
      border-color: transparent;

      .aside__link {
        color: $orange-color;

        &::before {
          color: $orange-color;
        }
      }

      .aside__score {
        &::before {
          color: $orange-color;
          transform: rotate(180deg);
        }
      }
    }
  }

  // .aside__time
  &__time {
    padding: 2px 6px;
    background-color: $bg-color;
    border-radius: $border-radius;
    color: $grey-color;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $black-color;
      }
    }

    &:active {
      color: $black-color;
    }
  }

  // .aside__link
  &__link {
    display: flex;
    align-items: center;
    color: $darkblue-color;
    transition: all 0.2s ease 0s;
    padding: 10px 0;
    width: 100%;
    &::before {
      color: $lightGrey-color;
      margin-right: 7px;
      transition: all 0.2s ease 0s;
    }
  }

  // .aside__score
  &__score {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px 0;
    color: $grey-color;
    &::before {
      margin-left: 8px;
      font-size: 12px;
      transition: all 0.2s ease 0s;
    }
  }

  // .aside__sub-list
  &__sub-list {
    overflow-x: hidden;
    overflow-y: overlay;
    font-size: 14px;
    margin: 0px -12px;
    transform: translate(0px, -1px);
    border-bottom: 1px solid rgba(225, 231, 239, 0.35);
    border-top: 1px solid rgba(225, 231, 239, 0.35);
    display: none;
    max-height: 364px;
    transition: all 0.2s ease 0s;

    &.active {
      display: block;
    }
  }

  // .aside__sub-item
  &__sub-item {
  }

  // .aside__sub-link
  &__sub-link {
    padding: 8px 12px 8px 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    transition: all 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #f8f8f8;
      }
    }

    &:active {
      background-color: #f8f8f8;
    }

    span {
      &:first-child {
        color: $blue-color;
      }

      &:last-child {
        color: $grey-color;
      }
    }
  }
}
