.bread-crumbs {
  // .bread-crumbs__list
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    @include screen-md {
      padding: 0px 12px;
    }
  }
  // .bread-crumbs__item
  &__item {
    &:not(:last-child) {
      &::after {
        content: '\e905';
        @extend %ic;
        display: inline-block;
        transform: rotate(-90deg);
        font-size: 12px;
        color: $grey-color;
      }
    }
  }
  // .bread-crumbs__link
  &__link {
    color: $blue-color;
    transition: color 0.2s ease 0s;
    white-space: nowrap;
    @media (any-hover: hover) {
      &:hover {
        color: $orange-color;
      }
    }
    &:active {
      color: $orange-color;
    }
  }
}
