.select {
  position: relative;
  display: inline-block;
  pointer-events: none;
  &.open {
    .select__head {
      &::after {
        transform: rotate(180deg);
      }
    }
    .select__i {
      pointer-events: auto;
    }
  }
  // .select__head
  &__head {
    pointer-events: auto;
    cursor: pointer;
    padding: 8px 16px;
    background-color: #fff;
    box-shadow: 4px 4px 11px rgba(37, 73, 137, 0.04);
    border-radius: $border-radius;
    color: $darkblue-color;
    &::after {
      content: "\e905";
      @extend %ic;
      display: inline-block;
      color: $grey-color;
      font-size: 12px;
      margin-left: 8px;
      transition: all 0.2s ease 0s;
    }
  }
  // .select__i
  &__i {
    display: none;
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    z-index: 10;
  }
  // .select__list
  &__list {
    padding: 4px 12px;
    background-color: #fff;
    box-shadow: 0px 2px 30px rgba(163, 176, 193, 0.3);
    border-radius: 8px;
  }
  // .select__item
  &__item {
    cursor: pointer;
    padding: 7px 24px;
    position: relative;
    transition: all 0.2s ease 0s;
    white-space: nowrap;
    @media (any-hover: hover) {
      &:hover {
        color: $orange-color;
      }
    }
    &.active {
      &::before {
        content: "\e90d";
        position: absolute;
        top: 50%;
        left: 0;
        @extend %ic;
        display: block;
        font-size: 12px;
        color: $orange-color;
        transform: translate(0px, -50%);
      }
    }
  }
}
