.translation {
  // .translation__title
  &__title {
    @include screen-md {
      padding: 0px 12px;
    }
  }

  // .translation__tabs
  &__tabs {
    @include screen-md {
      padding: 0px 12px;
    }

    &--sm {
      gap: 8px;
    }
  }

  // .translation__block
  &__block {
    background-color: #fff;
    border-radius: $border-radius;
    padding: 12px 16px;

    & > .translation__head,
    .translation__champ,
    .translation__match,
    .translation__link {
      a {
        cursor: pointer;
      }

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }

      padding: 12px 0px;
      @include screen-xs {
        padding: 8px 0px;
      }
    }

    @include screen-xs {
      padding: 12px 12px;
    }
  }

  // .translation__head
  &__head {
  }

  // .translation__sub-title
  &__sub-title {
    display: inline;
    color: $black-color;
    transition: all 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $orange-color;
      }
    }

    &:active {
      color: $orange-color;
    }
  }

  // .translation__champ
  &__champ {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:first-child) {
      border-top: 1px solid rgba(208, 214, 222, 0.5);
    }

    > a {
      color: $blue-color;
      transition: all 0.2s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: $orange-color;
        }
      }

      &:active {
        color: $orange-color;
      }
    }

    @include screen-xs {
      font-size: 14px;
    }
  }

  // .translation__match
  &__match {
    display: flex;
    column-gap: 12px;
    align-items: center;

    &:not(:first-child) {
      border-top: 1px solid rgba(208, 214, 222, 0.5);
    }

    @include screen-xs {
      font-size: 14px;
      column-gap: 8px;
    }
  }

  // .translation__inner
  &__inner {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 44px 1fr 16px 0.7fr;
    grid-template-areas: "info teams-name teams-dott teams-score";
    column-gap: 12px;
    color: $black-color;
    @include screen-xs {
      grid-template-columns: 40px 1fr 8px 0.7fr;
      column-gap: 8px;
    }

    span {
      display: inline-flex;
      align-items: center;
    }

    & > * {
      align-self: center;
    }
  }

  // .translation__column
  &__column {
    &:first-child {
      grid-area: info;

      span {
        &:not(:last-child) {
          margin-bottom: 2px;
        }
      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }

    &:nth-child(2) {
      overflow: hidden;
      grid-area: teams-name;

      span {
        span {
          white-space: nowrap;
        }

        img {
          width: 18px;
          height: auto;
          margin-right: 4px;
        }
      }
    }

    &:nth-child(3) {
      height: 100%;
      grid-area: teams-dott;

      > span {
        display: flex;
        height: 50%;
        align-items: center;
        justify-content: center;

        &.active {
          &::before {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $yelloy-color;
          }
        }
      }
    }

    &:last-child {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 8px;
      grid-area: teams-score;
      @include screen-xs {
        gap: 4px;
      }
    }
  }

  // .translation__score
  &__score {
    display: inline-flex;
    flex-direction: column;
    row-gap: 8px;

    &:not(:last-child) {
      margin-right: 8px;
    }

    @include screen-esm {
      &:not(:last-child) {
        margin-right: 4px;
      }
    }
    @include screen-xs {
      row-gap: 4px;
      &:not(:last-child) {
        margin-right: 0px;
      }
    }

    span {
      justify-content: center;

      sup {
        align-self: flex-start;
        font-size: 10px;
        line-height: 1;
        margin-left: 1px;
      }
    }
  }

  // .translation__scores
  &__scores {
    background-color: $bg-color;
    border-radius: 6px;
    padding: 4px;
    text-align: center;
  }

  // .translation__icon
  &__icon {
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease 0s;

    &._icon-star-off {
      color: $grey-color;
      @media (any-hover: hover) {
        &:hover {
          color: $orange-color;
        }
      }

      &:active {
        color: $orange-color;
      }
    }

    &._icon-star-on {
      color: $orange-color;
    }
  }

  // .translation__link
  &__link {
    text-align: center;

    &:not(:first-child) {
      border-top: 1px solid rgba(208, 214, 222, 0.5);
    }

    a {
      color: $blue-color;
      transition: all 0.2s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: $orange-color;
        }
      }

      &:active {
        color: $orange-color;
      }
    }

    @include screen-xs {
      font-size: 12px;
    }
  }

  // .translation__date
  &__date {
    font-size: 14px;
    text-align: center;
    color: $grey-color;
    padding: 24px 0px 12px;
    @include screen-esm {
      font-size: 12px;
      padding: 16px 0px 8px;
    }
  }

  // .translation__text
  &__text {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  // .translation__bk-inner
  &__bk-inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(194px, 1fr));
    gap: 12px;
    @include screen-esm {
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
  }

  // .translation__bk-item
  &__bk-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    overflow: hidden;
    border-radius: $border-radius;
    transition: all 0.2s ease 0s;
    @include screen-esm {
      height: 76px;
    }

    img {
      max-width: 147px;
      height: auto;
      @include screen-esm {
        max-width: 120px;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        filter: brightness(0.9);
      }
    }

    &:active {
      filter: brightness(0.9);
    }
  }

  // .translation__social
  &__social {
    display: flex;
    align-items: center;
    @include screen-xs {
      padding-top: 4px;
    }

    & > * {
      &:not(:last-child) {
        margin-right: 7px;
      }
    }

    > a {
      font-size: 20.5px;
      transition: all 0.2s ease 0s;

      &._icon-fb {
        color: rgba(77, 108, 176, 1);
      }

      &._icon-vk {
        color: rgba(79, 117, 165, 1);
      }

      &._icon-ok {
        color: rgba(252, 109, 0, 1);
      }

      &._icon-tw {
        color: rgba(46, 170, 225, 1);
      }

      &._icon-tl {
        color: rgba(27, 138, 219, 1);
      }

      @media (any-hover: hover) {
        &:hover {
          filter: brightness(0.9);
        }
      }

      &:active {
        filter: brightness(0.9);
      }
    }

    .btn {
      padding: 8px 16px;
      display: flex;
      color: #000;
      white-space: nowrap;
      background-color: $bg-color;
      @media (any-hover: hover) {
        &:hover {
          color: #fff;
          background-color: $orange-color;
        }
      }

      &:active {
        color: #fff;
        background-color: $orange-color;
      }

      &::before {
        position: relative;
        top: 2px;
        margin-right: 4px;
      }

      @include screen-esm {
        padding: 8px 12px;
      }
    }
  }

  // .translation__condition
  &__condition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 12px;
    padding-top: 16px;

    &:not(:first-child) {
      border-top: 1px solid rgba(208, 214, 222, 0.5);
    }

    span {
      display: block;
      max-width: 300px;
    }

    &::before {
      font-size: 64px;
      @include screen-esm {
        font-size: 40px;
      }
    }

    &._icon-attention {
      &::before {
        color: #ee403e;
      }
    }

    &._icon-success {
      &::before {
        color: #6ec447;
      }
    }

    &._icon-star-off {
      &::before {
        color: $lightGrey-color;
      }
    }

    @include screen-esm {
      padding-top: 12px;
      row-gap: 10px;
    }
  }

  // .translation__count-down
  &__count-down {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 18px;
  }

  // .translation__cd
  &__cd {
    position: relative;
    padding: 3px 7px;
    border-radius: $border-radius;
    border: 1px solid $lightGrey-color;

    &:not(:last-child) {
      &::before {
        content: ":";
        position: absolute;
        top: 0px;
        right: -15px;
        font-size: 40px;
        color: $grey-color;
        @include screen-esm {
          font-size: 36px;
        }
      }
    }

    span {
      &:first-child {
        font-family: $font-light;
        font-size: 40px;
        margin-bottom: 4px;
        @include screen-esm {
          font-size: 36px;
        }
      }
    }
  }

  // .translation__stream
  &__stream {
    text-align: center;

    &:not(:first-child) {
      padding-top: 12px;
      border-top: 1px solid rgba(208, 214, 222, 0.5);
    }

    & > * {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }

  // .translation__counter
  &__counter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    background-color: $bg-color;
    border-radius: $border-radius;

    & > * {
      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }

  // .translation__broadcast
  &__broadcast {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;

    > div {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: $border-radius;
      background-color: $black-color;

      &::after,
      &::before {
        @extend %ic;
        display: block;
        position: absolute;
        color: #fff;
        cursor: pointer;
      }

      &::after {
        content: "\e913";
        font-size: 64px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include screen-esm {
          font-size: 40px;
        }
      }

      &::before {
        content: "\e908";
        font-size: 24px;
        bottom: 12px;
        right: 12px;
        @include screen-esm {
          bottom: 8px;
          right: 8px;
          font-size: 20px;
        }
      }
    }
  }

  // .translation__banner
  &__banner {
  }

  // .translation__banner-link
  &__banner-link {
    display: flex;
    align-items: center;
    min-height: 56px;
    color: $black-color;
    transition: all 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $orange-color;
      }
    }

    &:active {
      color: $orange-color;
    }

    @include screen-md {
      padding: 0px 12px;
    }
  }

  // .translation__banner-img
  &__banner-img {
    flex: 0 0 116px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    min-height: 56px;
    border-radius: $border-radius 0 0 $border-radius;

    img {
      width: 80px;
      height: auto;
    }
  }

  // .translation__banner-text
  &__banner-text {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    min-height: 56px;
    border-radius: $border-radius;
    padding: 8px 16px;
    background-color: #fff;
    margin-left: -12px;
    @include screen-xs {
      font-size: 14px;
    }
  }
}
