.tabs {
  display: flex;
  align-items: center;
  gap: 16px;
  &--sm {
    gap: 8px;
    .tabs__item {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $bg-color;
    }
  }
  // .tabs__item
  &__item {
    padding: 8px 16px;
    @include screen-xs {
      padding: 8px 12px;
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: #fff;
        color: $orange-color;
      }
    }
    &:active {
      background-color: #fff;
      color: $orange-color;
    }
    &.active {
      color: #fff;
      background-color: $orange-color;
    }
  }
}
